{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>WildBox Twitter Scrapper and Analyzer</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/AdminLTE.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js "></script>

	<!-- https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js 
		 https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js
	-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.4/d3.layout.cloud.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js" ></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/js/app.min.js" ></script>


	<style type="text/css">
		
		.pageloader {
		    position: fixed;
		    left: 0px;
		    top: 0px;
		    width: 100%;
		    height: 100%;
		    z-index: 9999;
		    background: url('https://www.jetblue.com/media/imgs/interstitials/spinner.gif') 50% 50% no-repeat rgb(249,249,249);
		    opacity: .8;
		}		

		#exTab2 h3 {
		  color : white;
		  background-color: #428bca;
		  padding : 5px 15px;
		}

		svg {
			width: 100%;
			height: 100%;
		}

		path.slice{
			stroke-width:2px;
		}

		polyline{
			opacity: .3;
			stroke: black;
			stroke-width: 2px;
			fill: none;
		}

		.labelValue
		{
			font-size: 60%;
			opacity: .5;
			
		}

		.toolTip {
		    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		    position: absolute;
		    display: none;
		    width: auto;
		    height: auto;
		    background: none repeat scroll 0 0 white;
		    border: 0 none;
		    border-radius: 8px 8px 8px 8px;
		    box-shadow: -3px 3px 15px #888888;
		    color: black;
		    font: 12px sans-serif;
		    padding: 5px;
		    text-align: center;
		}
		text {
		  font: 12px sans-serif;
		}

	</style>
	<script type="text/javascript">
	$(window).on('load', function(){ $(".pageloader").fadeOut("slow");});
	</script>

</head>
<body style="background: #fb8c00;">
	<div class="pageloader"></div>
	<div style="padding-bottom: 10px;">
	</div>

	<div class="container-fluid">
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="https://wildboxtechnologies.com/">Wildbox Technologies</a>
		    </div>

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
		      <ul class="nav navbar-nav">
		      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
				<li><button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#scrapper_modal" style="margin-top: 14px !important;
				color: #000 !important;
				background-color: #ffff1a !important;
				" 
				> Scrape Twitter</button></li>	      	

		      </ul>
		      
		      <ul class="nav navbar-nav navbar-right">
		      	<form class="navbar-form navbar-left" role="search">
		      	  <div class="form-group">
		      	    <input type="text" class="form-control" placeholder="Search">
		      	  </div>
		      	  <button type="submit" class="btn btn-default btn-sm">Submit</button>
		      	</form>
		      </ul>
		    </div>
		  </div>
		</nav>			
		

		<div class="container-fluid">
			<div class="col-md-3" style="padding-right: -10px !important;">
				<h3>Tweet Analyer:</h3>
			</div>
			
			<div class="col-md-6" style="padding-top: 30px !important; ">

				<div class="col-md-8">
						<div class="input-group input-group-sm">
						  <input type="text" class="form-control" id="enter_tweet" placeholder="Enter your query">
						      <span class="input-group-btn">
						        <button type="button" class="btn btn-info btn-flat" id="search_tweets">Go!</button>
						      </span>
						</div>	
				</div>
			</div>
			<div class="col-md-3">&nbsp;</div>
		</div>
		
		<br>

		<div class="container-fluid" style="margin-left:auto;
    				  margin-right:auto;
    				  height:auto; 
    				  width:auto;">
  
		  <div class="col-md-6">
		  		<div class="box box-default">
		  		  <div class="box-header with-border">
		  		    <h2 class="box-title">Donut Chart</h2>
		  		    <div class="box-tools pull-right">
		  		      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		  		    </div>
		  		  </div>
		  		  <div class="box-body" id="donut_chart">
		  		    
		  		  </div>

		  		</div>

		  		<!-- <div class="box box-default">
		  		  <div class="box-header with-border">
		  		    <h2 class="box-title">Force / Network Layout</h2>
		  		    <div class="box-tools pull-right">
		  		      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		  		    </div>
		  		  </div>
		  		  <div class="box-body">
		  		    The body of the box
		  		  </div>
		  		</div> -->

		  </div>		
		  
		    <div class="col-md-6">
		    		<div class="box box-default">
		    		  <div class="box-header with-border">
		    		    <h2 class="box-title">Word Cloud</h2>
		    		    <div class="box-tools pull-right">
		    		      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		    		    </div>
		    		  </div>
		    		  <div class="box-body" id='word_cloud'>
		    		    
		    		  </div>
		    		</div>

		    		<!-- <div class="box box-default">
		    		  <div class="box-header with-border">
		    		    <h2 class="box-title">Graph chart</h2>
		    		    <div class="box-tools pull-right">
		    		      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		    		    </div>
		    		  </div>
		    		  <div class="box-body">
		    		    The body of the box
		    		  </div>
		    		</div> -->

		    </div>

		</div>

		


		<!-- Model for Scrapping tweets -->

		<div class="modal" id="scrapper_modal">
		  <div class="modal-dialog">
		    <div class="modal-content" style="border-radius: 15px !important;">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h3 class="modal-title">Get tweets</h3>
		      </div>
		      <div class="modal-body">
		        <h5>Search for the tweets i.e #Tags, Topics along with the dates</h5>
		        <p>&nbsp;</p>
		        
		        <div class="form-group">
		          
		          <div class="form-group" style="padding-left: 40px;
    											 padding-right: 15px;">
		          	<label class="control-label">Input Query</label>
		            <!-- <span class="input-group-addon">$</span> -->
		            <input type="text" class="form-control input-sm" id="query_input">

		            <!-- <span class="input-group-btn">
		              <button class="btn btn-default" type="button">Button</button>
		            </span> -->
		          </div>
		          <br>
		          <div class="container">
		          	<div class="col-sm-6">
		          	   <div class='col-md-6'>
		          			<div class="form-group">		          				
		          				<div class='input-group date' id='startDate'>
		          					<label>From:</label>
		          					<input type='text' class="form-control" name="org_startDate" data-date-format="MM/DD/YYYY"/>
		          					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
		          					</span>
		          				</div>
		          			</div>
		          		</div>
		          		<div class='col-md-6'>
		          			<div class="form-group">
		          				<!-- <div>End</div> -->
		          				
		          				<div class='input-group date' id='endDate'>
		          					<label>To:</label>
		          					<input type='text' class="form-control" name="org_endDate" data-date-format="MM/DD/YYYY" />
		          					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
		          					</span>
		          				</div>
		          			</div>
		          		</div>
		          	</div>
		          </div>
		        </div>
		        

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-danger" data-dismiss="modal">Done</button>
		        <button id="download_tweets" class="btn btn-success" type="submit">Download</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>

	<script type="text/javascript">
	
		console.log('Hello world..!!');
		
		

		$(document).ready(function(){

			// $('#donut_chart').hide();
			// $('#word_cloud').hide();

			$('#search_tweets').attr('disabled',true);
		    $('#download_tweets').attr('disabled',true);
		    
		    $('#enter_tweet').keyup(function(){
		        if($(this).val().length !=0)
		            $('#search_tweets').attr('disabled', false);            
		        else
		            $('#search_tweets').attr('disabled',true);
		    });

		    $('#query_input').keyup(function(){
		        if($(this).val().length !=0)
		            $('#download_tweets').attr('disabled', false);            
		        else
		            $('#download_tweets').attr('disabled',true);
		    });
		    $(window).on('load', function(){ $(".pageloader").fadeOut("slow");});		  
		});

		function convert_date(str) {
		    var date = new Date(str),
		        mnth = ("0" + (date.getMonth()+1)).slice(-2),
		        day  = ("0" + date.getDate()).slice(-2);
		    return [ date.getFullYear(), mnth, day ].join("-");
		}

		$('#search_tweets').click(function(){
			var tweet_entered = $('#enter_tweet').val();
			
			$.ajax({ 
				url: '/getsenti',
				type: 'GET',
				data: {'tweet_key':tweet_entered},
				success : function (result) {
					$("#donut_chart").empty();
					draw_donut_chart(result);
				}
			});

			$.ajax({ 
				url: '/getwords',
				type: 'GET',
				data: {'tweet_key':tweet_entered},
				success : function (result) {
					$("#word_cloud").empty();
					draw_wordcloud(result);
				}
			});
		});

		$("#download_tweets").click(function() {
		
		  var input = $('#query_input').val();
		  	  fdate = $('#startDate input').datepicker("getDate");
		  	  edate = $("#endDate input").datepicker("getDate");
		  	  durl = '/tweets/?input='+input+'&startDate='+convert_date(fdate)+'&endDate='+convert_date(edate);

		  data = {'input': input, 'startDate':convert_date(fdate),'endDate':convert_date(edate)}
		  // console.log(data)

		  window.location = durl;
		  
     //      $.ajax({
     //          type : 'get',
     //          url : '/tweets',
     //          // url : '/tweets/?input='+input+'&startDate='+convert_date(fdate)+'&endDate='+convert_date(edate),
     //          data : data,
     //          success: function(result){
     //          		setTimeout(function(){ console.log(result); }, 3000);
  			// },
  	  //       error: function (jqXHR, exception) {
  	  //           console.log("Errorrrrrrrrrrrrrrrrrr")
  	  //           console.log(jqXHR)
  	  //           }
      //  		});           

		});

		$('#startDate').datepicker({
		   	autoclose: true,
		    startDate: '-1w',
		    endDate: '+0d',
		    todayHighlight: true,
		    clearBtn: true,
		    // defaultDate: moment().subtract(1, 'days'),
  		});
		
		$('#endDate').datepicker({
		    autoclose: true,
		    startDate: '-1w',
		    endDate: '+0d',
		    todayHighlight: true,
		    clearBtn: true,
		    // defaultDate: moment().subtract(0, 'days'),
		});

		$("#startDate").on("dp.change",function (e) {
	        $('#endDate').data("DateTimePicker").setMinDate(e.date);
		});
	
		$("#endDate").on("dp.change",function (e) {
	        $('#startDate').data("DateTimePicker").setMaxDate(e.date);
		});


		function draw_wordcloud(raw_data){
			var tags = raw_data;

			var fill = d3.scale.category20b();

			var w = 750
				h = 650;

			var max,
			    fontSize;

			var layout = d3.layout.cloud()
			        .timeInterval(Infinity)
			        .size([w, h])
			        .fontSize(function(d) {
			            return fontSize(+d.value);
			        })
			        .text(function(d) {
			            return d.key;
			        })
			        .on("end", draw);

			var svg = d3.select("#word_cloud").append("svg")
			        .attr("viewBox", "600 70 150 550");
			        // .attr("width", w)
			        // .attr("height", h);

			var vis = svg.append("g").attr("transform", "translate(" + [w >> 1, h >> 1] + ")");

			update();

			window.onresize = function(event) {
			    update();
			};

			function draw(data, bounds) {
			    var w = window.innerWidth,
			        h = window.innerHeight;

			    svg.attr("width", w).attr("height", h);

			    scale = bounds ? Math.min(
			            w / Math.abs(bounds[1].x - w / 2),
			            w / Math.abs(bounds[0].x - w / 2),
			            h / Math.abs(bounds[1].y - h / 2),
			            h / Math.abs(bounds[0].y - h / 2)) / 2 : 1;

			    var text = vis.selectAll("text")
			            .data(data, function(d) {
			                return d.text.toLowerCase();
			            });
			    text.transition()
			            .duration(1000)
			            .attr("transform", function(d) {
			                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
			            })
			            .style("font-size", function(d) {
			                return d.size + "px";
			            });
			    text.enter().append("text")
			            .attr("text-anchor", "middle")
			            .attr("transform", function(d) {
			                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
			            })
			            .style("font-size", function(d) {
			                return d.size + "px";
			            })
			            .style("opacity", 1e-6)
			            .transition()
			            .duration(1000)
			            .style("opacity", 1);
			    text.style("font-family", function(d) {
			        return d.font;
			    })
			            .style("fill", function(d) {
			                return fill(d.text.toLowerCase());
			            })
			            .text(function(d) {
			                return d.text;
			            });

			    vis.transition().attr("transform", "translate(" + [w >> 1, h >> 1] + ")scale(" + scale + ")");
			}

			function update() {
			    layout.font('impact').spiral('archimedean');
			    fontSize = d3.scale['sqrt']().range([10, 100]);
			    if (tags.length){
			        fontSize.domain([+tags[tags.length - 1].value || 1, +tags[0].value]);
			    }
			    layout.stop().words(tags).start();
			}
		}

		function draw_donut_chart(raw_data){

			datasetTotal = raw_data;

			var svg = d3.select("#donut_chart")
				.append("svg")
				.attr("viewBox", "-100 0 700 400")
				.append("g")

			 
			svg.append("g")
				.attr("class", "slices");
			svg.append("g")
				.attr("class", "labelName");
			svg.append("g")
				.attr("class", "labelValue");
			svg.append("g")
				.attr("class", "lines");

			var width = 450,
			    height = 350,
				radius = Math.min(width, height) / 2;

			var pie = d3.layout.pie()
				.sort(null)
				.value(function(d) {
					return d.value;
				});

			var arc = d3.svg.arc()
				.outerRadius(radius * 0.8)
				.innerRadius(radius * 0.4);

			var outerArc = d3.svg.arc()
				.innerRadius(radius * 0.9)
				.outerRadius(radius * 0.9);

			var legendRectSize = (radius * 0.05);
			var legendSpacing = radius * 0.02;


			var div = d3.select("body").append("div").attr("class", "toolTip");

			svg.attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

			var colorRange = d3.scale.category20();
			var color = d3.scale.ordinal()
				.range(colorRange.range());


			

			change(datasetTotal);



			function change(data) {

				/* ------- PIE SLICES -------*/
				var slice = svg.select(".slices").selectAll("path.slice")
			        .data(pie(data), function(d){ return d.data.label });

			    slice.enter()
			        .insert("path")
			        .style("fill", function(d) { return color(d.data.label); })
			        .attr("class", "slice");

			    slice.transition().duration(1000)
			        .attrTween("d", function(d) {
			            this._current = this._current || d;
			            var interpolate = d3.interpolate(this._current, d);
			            this._current = interpolate(0);
			            return function(t) {
			                return arc(interpolate(t));
			            };
			        })
			    
			    slice.on("mousemove", function(d){
			            div.style("left", d3.event.pageX+10+"px");
			            div.style("top", d3.event.pageY-25+"px");
			            div.style("display", "inline-block");
			            div.html((d.data.label)+"<br>"+(d.data.value)+"%");
			        });
			    
			    slice.on("mouseout", function(d){
			            div.style("display", "none");
			        });

			    slice.exit()
			        .remove();

			    var legend = svg.selectAll('.legend')
			        .data(color.domain())
			        .enter()
			        .append('g')
			        .attr('class', 'legend')
			        .attr('transform', function(d, i) {
			            var height = legendRectSize + legendSpacing;
			            var offset =  height * color.domain().length / 2;
			            var horz = -3 * legendRectSize;
			            var vert = i * height - offset;
			            return 'translate(' + horz + ',' + vert + ')';
			        });

			    legend.append('rect')
			        .attr('width', legendRectSize)
			        .attr('height', legendRectSize)
			        .style('fill', color)
			        .style('stroke', color);

			    legend.append('text')
			        .attr('x', legendRectSize + legendSpacing)
			        .attr('y', legendRectSize - legendSpacing)
			        .text(function(d) { return d; });

			    /* ------- TEXT LABELS -------*/

			    var text = svg.select(".labelName").selectAll("text")
			        .data(pie(data), function(d){ return d.data.label });

			    text.enter()
			        .append("text")
			        .attr("dy", ".35em")
			        .text(function(d) {
			            return (d.data.label+": "+d.value+"%");
			        });

			    function midAngle(d){
			        return d.startAngle + (d.endAngle - d.startAngle)/2;
			    }

			    text.transition().duration(1000)
			        .attrTween("transform", function(d) {
			            this._current = this._current || d;
			            var interpolate = d3.interpolate(this._current, d);
			            this._current = interpolate(0);
			            return function(t) {
			                var d2 = interpolate(t);
			                var pos = outerArc.centroid(d2);
			                pos[0] = radius * (midAngle(d2) < Math.PI ? 1 : -1);
			                return "translate("+ pos +")";
			            };
			        })
			        .styleTween("text-anchor", function(d){
			            this._current = this._current || d;
			            var interpolate = d3.interpolate(this._current, d);
			            this._current = interpolate(0);
			            return function(t) {
			                var d2 = interpolate(t);
			                return midAngle(d2) < Math.PI ? "start":"end";
			            };
			        })
			        .text(function(d) {
			            return (d.data.label+": "+d.value+"%");
			        });


			    text.exit()
			        .remove();

			    /* ------- SLICE TO TEXT POLYLINES -------*/

			    var polyline = svg.select(".lines").selectAll("polyline")
			        .data(pie(data), function(d){ return d.data.label });

			    polyline.enter()
			        .append("polyline");

			    polyline.transition().duration(1000)
			        .attrTween("points", function(d){
			            this._current = this._current || d;
			            var interpolate = d3.interpolate(this._current, d);
			            this._current = interpolate(0);
			            return function(t) {
			                var d2 = interpolate(t);
			                var pos = outerArc.centroid(d2);
			                pos[0] = radius * 0.95 * (midAngle(d2) < Math.PI ? 1 : -1);
			                return [arc.centroid(d2), outerArc.centroid(d2), pos];
			            };
			        });

			    polyline.exit()
			        .remove();
			};


		}
	</script>

	<!-- Word Cloud starts -->
	
	
</body>

</html>